@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(50, 50, 50, 1);

    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(50, 50, 50, 1);

    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(50, 50, 50, 1);

    --primary: rgba(56, 38, 38, 1);
    --primary-foreground: rgba(255, 255, 255, 1);

    --secondary: rgba(238, 238, 238, 1);
    --secondary-foreground: rgba(56, 38, 38, 1);

    --muted: rgba(238, 238, 238, 1);
    --muted-foreground: rgba(110, 110, 110, 1);

    --accent: rgba(238, 238, 238, 1);
    --accent-foreground: rgba(56, 38, 38, 1);

    --destructive: rgba(255, 51, 51, 1);
    --destructive-foreground: rgba(255, 255, 255, 1);

    --border: rgba(218, 218, 218, 1);
    --input: rgba(218, 218, 218, 1);
    --ring: rgba(50, 50, 50, 1);

    --radius: 0.5rem;
  }

  .dark {
    --background: rgba(15, 15, 15, 1);
    --foreground: rgba(255, 255, 255, 1);

    --card: rgba(50, 50, 50, 1);
    --card-foreground: rgba(255, 255, 255, 1);

    --popover: rgba(50, 50, 50, 1);
    --popover-foreground: rgba(255, 255, 255, 1);

    --primary: rgba(255, 255, 255, 1);
    --primary-foreground: rgba(56, 38, 38, 1);

    --secondary: rgba(44, 44, 44, 1);
    --secondary-foreground: rgba(255, 255, 255, 1);

    --muted: rgba(44, 44, 44, 1);
    --muted-foreground: rgba(176, 176, 176, 1);

    --accent: rgba(44, 44, 44, 1);
    --accent-foreground: rgba(255, 255, 255, 1);

    --destructive: rgba(255, 51, 51, 1);
    --destructive-foreground: rgba(255, 255, 255, 1);

    --border: rgba(44, 44, 44, 1);
    --input: rgba(44, 44, 44, 1);
    --ring: rgba(215, 215, 215, 1);
  }

  * {
    @apply border-border font-sans;
  }
  /* width */
  *::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
    @apply bg-transparent;
  }

  /* Handle */
  *::-webkit-scrollbar-thumb {
    @apply bg-neutral-400 dark:bg-neutral-600;
    border-radius: 5px;
  }

  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-500 dark:bg-neutral-500;
  }

  body {
    @apply scroll-smooth bg-background text-foreground;
  }

  body,
  html {
    @apply m-0 p-0;
  }
}
